.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
}

.body-1 {
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
}

.logo{
    width: 100px;
    height: 100px;

}

.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;  
}

li{
    float: left;
}
li a{
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   text-transform: uppercase;
}

li a:hover {
  background-color: #111111;
}

.quote{


}

.aboutme{
    
}

.profilepic{


}

.skills{

}

.resume{

}

#button{

}


.navigationfooter{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;  
}

img{
    height: 600px;
    width: 500px;
}