.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
    }

nav{
    width: 73%;
    padding: 1%;
    }
#nav-list{
display: inline-block;
}


ul{
    width: 50%;
    margin-left: auto;
    list-style: none;
}

.hero-img{
    height: 600px;
    padding: 25px;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    margin: 0 auto;
}

.profile{
    width: 200px;
    height: 200px;
}

footer{
    display: block;
    background-color: #373738;
}

ul{
    display: inline-block;
    vertical-align: top;
    padding: auto;
}

ul li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

